*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-size: 11px;
	font-family: sans-serif;
	top-margin:0;
}

body{
	overflow-x: hidden;
}
 
a{
 	text-decoration: none;
 	color: #fff;
 }

header{
	width:100%;
 	height:100vh;  
	background: linear-gradient(to bottom, rgba(0,0,0,.9), rgba(0,0,0,.2)), url("../images/restura.jpg") center no-repeat;
 	background-size: cover;
 }
.container{
	max-width: 140rem;
	width: 98%;
	margin: 0 auto;
}
nav{
	padding-top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

img{
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s; 
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li:nth-child(5){
	animation-delay: 2s;
}

nav ul li:nth-child(6){
	animation-delay: 2.5s;
}

nav ul li a{
	padding:1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;	
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	background-color: firebrick;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

nav ul li a:active{
	color: violet;
}

@keyframes slideIn{
	from{

	}
	to{
		transform: translateX(0);
	}
}

#particles-js {
    width: 100%; 
    height: 100%; 
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    top-margin:0px;
}
